h1{
font-size:60px;
color:	#00bfff;
}
body{
 background-color: #808080;
 color: white;
font-family:"Times New Roman";
font-size:40px;
}

h2{color:#00bfff;}

.behav{
 color:yellow;
}

ol { list-style-type: decimal; }

em.movie{

color:red;
}
.column {
  float: left; 
  padding: 15px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

