body{
    margin:10%;
    font-color:red
}
.headrow{
    height:50px;
    background-color: #404040;
    margin-bottom: 20px;
}
.footrow{
    margin-top: 20px;
    height:50px;
    background-color: #404040;
}
.form{
    margin-left:5px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
.tab{
    width:100%;
}
.input1 {
    margin-top:10px;
}

.topmargin{
    margin-top:10px;
}

.button{
    margin-top:20px;
}
#cat{
    width:200px;
}

.button input{
    background-color:darksalmon;
    height:25px;
}
.row1{
    background-color: #FFFFA8;
}
.headtext{
    font-size: 18px;
    color:white;
    text-align:center;

}
.foottext{
    font-size: 14px;
    color:white;
    text-align:center;
}